:root {
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
    font-family: 'Outfit';
    min-height: 100vh;
}

main {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    text-align: center;
}

main img {
    border-radius: 10px;
    max-width: 100%;
}

main h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--Dark-blue);
    margin: 20px;
}

main p {
    font-size: 15px;
    font-weight: 400;
    color: var(--Grayish-blue);
    margin: 0 30px 30px 20px;
}